---
import type { Project } from "@/i18n/cv";
import Badge from '@/shared/components/Badge.astro';

interface Props {
  project: Project;
}

const { project } = Astro.props;
const { url, description, image, highlights, name, isActive } = project;
---

<article class="p-4 border border-[--lightGray] h-full flex flex-col gap-4 rounded-lg dark:border-[--darkGray]">
  <!-- Card-header -->
  <header>
    <a class="group flex flex-col gap-2" href={url} target="_blank" title={`Ver el proyecto ${name}`}>
      <!-- Card-header-title -->
      <h3 class="text-md font-semibold tracking-tight">
          <span class="group-hover:underline group-hover:underline-offset-1">{name}</span>
          &#160;&#160;{isActive && <span class="text-green-400">•</span>}
      </h3>

      <!-- Card header-immage -->
      <img
        class="w-full aspect-[2/1] sm:aspect-[5/3] object-cover object-center rounded-md"
        src={ image }
        alt={`Imagen del proyecto ${name}`}
      />
    </a>
  </header>

  <!-- Card-body -->
  <section class="flex-grow">
    <p class="text-sm">
      {description}
    </p>
  </section>

  <!-- Card-footer -->
  <footer>
    <ul class="flex flex-row flex-wrap gap-x-1 gap-y-0">
      {highlights.map( highlight => (
        <li class="w-fit">
          <Badge 
            text={ highlight } 
            type="inline" 
          />
        </li>
      ))}
    </ul>
  </footer>
</article>

<!-- Botón para ver el código fuente del proyecto
import { GitHub } from '@/shared/icons/index.astro';
        
{github && (
  <a
    class="github-code-link"
    href={github}
    target="_blank"
    title={`Ver código fuente del proyecto ${name}`}
  >
  </a>
)}
-->