---
import type { Project } from "@/i18n/cv";
import Badge from '@/shared/components/Badge.astro';
import { getI18N } from "@/i18n";

interface Props {
  project: Project;
}

const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });
const { SEE_PROJECT, SEE_IMAGE } = i18n.GENERAL;

const { project } = Astro.props;
const { url, description, image, highlights, name, isActive } = project;
---

<article class="p-4 border border-[--veryLightGray] h-full flex flex-col gap-4 rounded-lg dark:border-[--veryLightBlue]">
  <!-- Card-header -->
  <header class="group flex flex-col gap-2" >
    <a
      href={url}
      target="_blank"
      title={`${SEE_PROJECT}
      ${name}`}
    >
      <!-- Card-header-title -->
      <h3 class="text-md font-semibold tracking-tight">
          <span class="group-hover:underline group-hover:underline-offset-1">{name}</span>
          &#160;&#160;{isActive && <span class="text-green-400">•</span>}
      </h3>

      <!-- Card header-immage -->
      <div class="aspect-[2/1] sm:aspect-[5/3] overflow-hidden rounded-md">
        <img
          class="w-full aspect-[2/1] sm:aspect-[5/3] object-cover object-center group-hover:scale-105 transition-all duration-300 ease-in-out"
          src={ image }
          alt={`${SEE_IMAGE} ${name}`}
        />
      </div>
    </a>
  </header>

  <!-- Card-body -->
  <section class="flex-grow">
    <p class="text-sm">
      {description}
    </p>
  </section>

  <!-- Card-footer -->
  <footer>
    <ul class="flex flex-row flex-wrap gap-x-1 gap-y-0">
      {highlights.map( highlight => (
        <li class="w-fit">
          <Badge 
            text={ highlight } 
            type="inline" 
          />
        </li>
      ))}
    </ul>
  </footer>
</article>

<!-- Botón para ver el código fuente del proyecto
import { GitHub } from '@/shared/icons/index.astro';
        
{github && (
  <a
    class="github-code-link"
    href={github}
    target="_blank"
    title={`Ver código fuente del proyecto ${name}`}
  >
  </a>
)}
-->